{% extends "_layouts/cp" %}
{% import '_includes/forms.twig' as forms %}

{% set title = navigation.id ? "Edit Navigation: " ~ navigation.title : "Create a Navigation"|t('tka-navigation') %}
{% set settings = craft.app.plugins.getPlugin('tka-navigation').getSettings() %}

{% block header %}
    {{ block('pageTitle') }}
    {{ block('languageMenu') }}
{% endblock %}

{% block languageMenu %}
    {% if navigation.id %}
        <div id="sites-btn" class="btn menubtn" data-icon="world">{{ craft.app.sites.getSiteById(siteId).name }}</div>
        <div class="menu">
            {% set siteIds = craft.app.sites.allSiteIds() %}
            <ul class="">
                {% for id in siteIds %}
                    {% set site = craft.app.sites.getSiteById(id) %}
                    <li>
                        <a {% if id == siteId %}class="sel"
                           {% else %}href="{{ url('tka-navigation/edit/' ~ navigation.id, { siteId: site.id }) }}"{% endif %}>
                            {{ site.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% set crumbs = [
    { label: "Navigations"|t('tka-navigation'), url: url('tka-navigation') },
    { label: navigation.id ? "Edit"|t : "New"|t, url: '#' }
] %}

{% set content %}
    {% if settings.useSlickLeanInterface %}
        {% include 'tka-navigation/_edit_slick.twig' %}
    {% else %}
        {% include 'tka-navigation/_edit_easy.twig' %}
    {% endif %}
{% endset %}
